  body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 80px auto;
            padding: 30px 40px;
            background-color: #fff;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
        }
		header {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            color: black;
            padding: 20px;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 2px;
        }
        nav {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: black;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        main {
            flex: 1;
            max-width: 900px;
            margin: 30px auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
        }
        h1 {
            margin-top: 0;
            color: black;
        }
        p {
            line-height: 1.5;
            color: #444;
            font-size: 1.1rem;
        }
		footer {
			position: fixed;
			bottom: 0;
			width: 100%;
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            color: black;
            text-align: center;
            padding: 10px 0;
			z-index: 1000;
			box-sizing: border-box;
            font-size: 1.2rem;
        }