   body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            margin: 0;
            padding: 10px;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
			justify-content: center;
            padding-top: 20px;
        }
        header {
            text-align: center;
            padding: 20px 0 10px;
        }
        nav {
			 display: flex;
             justify-content: center;
             gap: 20px; /* для отступа между ссылками */
             margin-bottom: 20px;
        }
        nav a {
            color: #222;
            margin: 0 15px;
            font-weight: 700;
            text-decoration: none;
            font-size: 1rem;
        }
        nav a.active {
            text-decoration: underline;
        }
        table {
            border-collapse: collapse;
        }
        td {
           width: 50px;
           height: 50px;
           text-align: center;
           vertical-align: middle;
           font-size: 24px;
        }
        .white {
           background-color: bisque;
        }
        .black {
           background-color: sandybrown;
        }
		.chessboard {
           display: grid;
           grid-template-columns: repeat(8, 50px);
           grid-template-rows: repeat(8, 50px);
           width: 400px;
           height: 400px;
           border: 2px solid #333;
        }
        .cell {
           width: 50px;
           height: 50px;
           display: flex;
           justify-content: center;
           align-items: center;
           font-family: "Arial Unicode MS", Arial, sans-serif;
           font-size: 32px;
           user-select: none;
        }
        .light {
           background-color: bisque;
        }
        .dark {
           background-color: sandybrown;
        }
        .black-piece {
          color: black;
        }
	   
  
</style>

    